// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag_list_button {
  padding: 5px 10px;
  margin: 20px 0px 5px;
  display: inline-block;
  border: 2px #99CCFF solid;
  border-radius: 5px;
  box-shadow: 0 5px 5px;
}
.tag_list_button:active {
  box-shadow: initial;
  transform:translateY(5px);
}